.idea/
.vscode/
.DS_Store

# Environments
.env
.env.local
.venv
*env

# Python
__pycache__/
*.pyc
*.pyo

# Node / TypeScript
node_modules/
npm-debug.log*

# Builds / outputs
dist/
build/
bin/
runs

# Logs / temp
*.log
*.tmp
*.swp
*.swo
*~
*.bkp

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Data / artifacts
*.json
.adk/
target/
*.class